---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact">
  <section>
    <h1>📬 Contact Me</h1>
    <p class="contact">Let’s get in touch! You can reach me via:</p>
    <ul>
      <li>Email: <a href="mailto:rizwaan.popat@epita.fr">rizwaan.popat@epita.fr</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/rizwaan-popat" target="_blank">linkedin.com/in/rizwaan-popat</a></li>
      <li>GitHub: <a href="https://github.com/Rizou95" target="_blank">github.com/Rizou95</a></li>
    </ul>
  </section>
</Layout>
