---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Home">
  <section class="hero">
    <img src="/portfolio/profile.jpg" alt="Profile Picture" class="profile-pic" />
    <h1>Hi, I’m <span class="highlight">Rizwaan Popat</span></h1>
    <p>
      I’m a young IT Engineer specializing in <strong>Cybersecurity</strong>.  
      Passionate about securing systems, solving challenges, and building innovative projects.
    </p>
    <div class="buttons">
      <a href="/portfolio/projects" class="btn">Projects</a>
      <a href="/portfolio/education" class="btn">Education</a>
      <a href="/portfolio/experience" class="btn">Experience</a>
	  <a href="/portfolio/contact" class="btn">Contact</a>
    </div>
  </section>
</Layout>
